trigger: none
pr: none

stages:
- stage: Deploy
  displayName: CD - Deploy Terraform Plan

  jobs:
  - deployment: ApplyPlan
    displayName: Apply Terraform Plan
    environment: 'dev-env'
    pool:
      vmImage: 'ubuntu-latest'

    strategy:
      runOnce:
        deploy:
          steps:

          # Use same Terraform installer as CI
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: '1.5.7'

          # Login to Azure
          - task: AzureCLI@2
            displayName: 'Authenticate to Azure'
            inputs:
              azureSubscription: 'pradeep-last-sc'
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                echo "Logged into Azure subscription:"
                az account show

          # Download artifacts from CI
          - download: current
            artifact: tfplan
            displayName: 'Download tfplan artifact (binary)'

          - download: current
            artifact: tfplan_json
            displayName: 'Download tfplan JSON (human-readable)'

          # Re-export TF_VARs
          - script: |
              echo "Exporting TF_VARs..."

              export TF_VAR_resource_group_name="pradeep-rg"
              export TF_VAR_location="eastus"
              export TF_VAR_app_service_plan_name="pradeep-plan"
              export TF_VAR_app_service_plan_tier="Standard"
              export TF_VAR_app_service_plan_size="S1"
              export TF_VAR_app_service_name="pradeep-app"
              export TF_VAR_linux_fx_version="DOTNETCORE|7.0"

              echo 'tags = {"env":"dev","owner":"pradeep"}' \
                > $(Pipeline.Workspace)/tfplan/ci.tfvars

              echo "Plan preview:"
              jq '.resource_changes[]? | {type:.type, name:.name, action:.change.actions}' \
                $(Pipeline.Workspace)/tfplan_json/tfplan.json || true
            displayName: 'Prepare TF_VARs and preview plan'

          # Apply Terraform plan
          - script: |
              echo "Applying Terraform plan..."
              cd $(Pipeline.Workspace)/tfplan

              terraform init -input=false
              terraform apply -input=false tfplan.binary
            displayName: 'terraform apply'
            env:
              TF_IN_AUTOMATION: "1"
